@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="about" class="mt-5 py-5 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="mb-3">Voluptatem dignissimos provident quasi</h1>
                    <p class="mb-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                    </p>
                    <a href="" class="about-btn btn btn-secondary px-4 rounded-pill ">About us</a>
                </div>
                <div class="col-md-7">
                    <div class="row ms-4">
                        <div class="col-md-6">
                            <div class="about-icon">
                                <i class="fa-solid fa-photo-film fs-2"></i>
                            </div>
                            <h3 class="mt-2">Corporis voluptates sit</h3>
                            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                        </div>
                        <div class="col-md-6">
                            <div class="about-icon">
                                <i class="fa-solid fa-photo-film fs-2"></i>
                            </div>
                            <h3 class="mt-2">Corporis voluptates sit</h3>
                            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                        </div>
                        <div class="col-md-6">
                            <div class="about-icon">
                                <i class="fa-solid fa-photo-film fs-2"></i>
                            </div>
                            <h3 class="mt-2">Corporis voluptates sit</h3>
                            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                        </div>
                        <div class="col-md-6">
                            <div class="about-icon">
                                <i class="fa-solid fa-photo-film fs-2"></i>
                            </div>
                            <h3 class="mt-2">Corporis voluptates sit</h3>
                            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="client" class="bg-light">
        <div class="container ">
            <div class="row ">
                <div class="col-md-2 col-6 py-4">
                    <div class="client-img">
                        <img src="./assets/images/client-1.png" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-6 py-4">
                    <div class="client-img">
                        <img src="./assets/images/client-1.png" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-6 py-4">
                    <div class="client-img">
                        <img src="./assets/images/client-1.png" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-6 py-4">
                    <div class="client-img">
                        <img src="./assets/images/client-1.png" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-6 py-4">
                    <div class="client-img">
                        <img src="./assets/images/client-1.png" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-6 py-4">
                    <div class="client-img">
                        <img src="./assets/images/client-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="sec-title">
                        <h1 class="text-center fw-bold text-white mb-3">Services</h1>
                        <p class="text-center text-white mt-5">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="card p-4">
                        <div class="card-body text-center">
                            <div class="card-icon">
                                <i class="fa-solid fa-basketball text-center fs-2 mb-3 bg-light p-4 rounded-circle"></i>
                            </div>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-4">
                        <div class="card-body text-center">
                            <div class="card-icon">
                                <i class="fa-solid fa-basketball text-center fs-2 mb-3 bg-light p-4 rounded-circle"></i>
                            </div>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-4">
                        <div class="card-body text-center">
                            <div class="card-icon">
                                <i class="fa-solid fa-basketball text-center fs-2 mb-3 bg-light p-4 rounded-circle"></i>
                            </div>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-4">
                        <div class="card-body text-center">
                            <div class="card-icon">
                                <i class="fa-solid fa-basketball text-center fs-2 mb-3 bg-light p-4 rounded-circle"></i>
                            </div>
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="sec-title">
                        <h1 class="text-center fw-bold mb-3">Contact</h1>
                        <p class="text-center mt-5">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col">
                            <div class="card text-center py-4 border-0 shadow-sm">

                                <div class="card-body">
                                    <div class="card-icon"><i class="fa-solid fa-envelope fs-2 text-primary"></i></div>
                                    <h5 class="card-title text-secondary">Our Address</h5>
                                    <p class="card-text">A108 Adam Street, New York, NY 535022</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="card text-center py-4 border-0 shadow-sm">

                                <div class="card-body">
                                    <div class="card-icon"><i class="fa-solid fa-envelope fs-2 text-primary"></i></div>
                                    <h5 class="card-title text-secondary">Our Address</h5>
                                    <p class="card-text">A108 Adam Street, New York, NY 535022</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-center py-4 border-0 shadow-sm">

                                <div class="card-body">
                                    <div class="card-icon"><i class="fa-solid fa-envelope fs-2 text-primary"></i></div>
                                    <h5 class="card-title text-secondary">Our Address</h5>
                                    <p class="card-text">A108 Adam Street, New York, NY 535022</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class="col bg-white p-4 shadow-sm">
                                <form>
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row mb-4">
                                        <div class="col">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1" placeholder="First name" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example2" placeholder="Last name" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form3Example3" placeholder="Email" class="form-control" />
                                    </div>

                                    <!-- Message input -->
                                    <div class="form-outline mb-4">
                                        <textarea class="form-control" id="form4Example3" placeholder="Message" rows="4"></textarea>
                                    </div>

                                    <!-- Submit button -->
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary btn-block mb-4">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>